.Comment {
	display: grid;
	grid-template-columns: min-content auto;
	grid-template-rows: min-content min-content min-content;
	gap: 0px 0px;
	grid-template-areas:
		'user-data user-data'
		'content content'
		'karma-counter actions';

	padding: 20px;
	border-radius: var(--border-radius);
	background-color: var(--white);
}

.Comment .UserData {
	grid-area: user-data;
}

.Comment .Content {
	grid-area: content;
}

.Comment .KarmaCounter {
	grid-area: karma-counter;
}

.Comment .Actions {
	grid-area: actions;
	margin-left: auto;
}

.Comment .Btn {
	align-self: flex-end;
}

/* md */
@media screen and (min-width: 992px) {
	.Comment {
		flex-direction: row;
	}
}
