.ActionBtn {
	color: var(--moderate-blue);
	font-weight: var(--font-bold);
	border: none;
	background: none;
	cursor: pointer;
	display: flex;
	transition: 0.1s;
}
.ActionBtn.ActionBtn--danger {
	color: var(--soft-red);
}
.ActionBtn:hover {
	filter: brightness(220%);
}

.ActionBtn img {
	margin-right: 0.5em;
}
