.Comment {
	display: flex;
	align-items: flex-start;
	flex-direction: column-reverse;

	padding: 20px;
	border-radius: var(--border-radius);
	background-color: var(--white);
}
.Comment > *:not(:last-child) {
	margin-right: 20px;
}

.Comment .Comment__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* md */
@media screen and (min-width: 768px) {
	.Comment {
		flex-direction: row;
	}
}
