.Comment {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;

	padding: 20px;
	border-radius: var(--border-radius);
	background-color: var(--white);
}
.Comment > * {
	margin-bottom: 10px;
}

.Comment .UserData {
	width: 100%;
}

.Comment .Actions {
	margin-left: auto;
	transform: translateY(7px);
}

/* md */
@media screen and (min-width: 768px) {
	.Comment {
		/* flex-direction: row; */
	}
}
