.Btn {
	text-transform: uppercase;
	font-weight: var(--font-bold);
	color: var(--white);

	background: var(--moderate-blue);
	border-width: 0;
	border-radius: var(--border-radius);
	padding: 15px 25px;

	cursor: pointer;
	display: flex;
	transition: 0.1s;
}

@media screen and (min-width: 992px) {
	.Btn:hover {
		filter: brightness(220%);
	}
}
