.Textarea {
	resize: none;
	overflow: hidden;

	width: 100%;
	padding: 10px 20px;
	min-height: 4em;

	margin-bottom: 15px;
	border-radius: var(--border-radius);
	border: 1px solid var(--light-gray);
	font: inherit;
}
.Textarea:focus {
	outline: solid var(--moderate-blue) 1px;
}
