:root {
	/* layout */
	--mobile: 375px;
	--desktop: 1440px;

	/* primary colors */
	--moderate-blue: #5457b6;
	--soft-red: #ed6468;
	--light-grayish-blue: #c3c4ef;
	--pale-red: #ffb8bb;
	/* neutral colors */
	--dark-blue: #324152;
	--grayish-blue: #67727e;
	--light-gray: #eaecf1;
	--very-light-gray: #f5f6fa;
	--white: #ffffff;

	/* typography */
	--font-size: 16px;
	--font-family: 'Rubik', sans-serif;
	--font-regular: 400;
	--font-medium: 500;
	--font-bold: 700;

	/* other */
	--border-radius: 5px;
}

body {
	box-sizing: content-box;
	font-family: var(--font-family);
	font-size: var(--font-size);
	background-color: var(--very-light-gray);
}
