.Comment {
	display: flex;
	align-items: flex-start;
	flex-direction: column;

	padding: 20px;
	border-radius: var(--border-radius);
	background-color: var(--white);
}

.Comment > *:not(:last-child) {
	margin-bottom: 15px;
}

.Comment .Comment__strip {
	display: flex;
	align-items: center;
	justify-content: space-between;

	width: 100%;
}

.Comment .Comment__content-wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.Comment .Comment__content-wrapper > *:not(:last-child) {
	margin-bottom: 10px;
}

.Comment .Btn {
	align-self: flex-end;
}

/* md */
@media screen and (min-width: 992px) {
	.Comment {
		flex-direction: row;
	}

	.Comment > *:not(:last-child) {
		margin-right: 20px;
		margin-bottom: 0;
	}
}
